<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        button {
            display: block;
            margin: 10px auto;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            border: none;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
        }
        button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
<button onclick="window.location.href='/manage/getAllUser'">查看所有用户信息</button>
<button onclick="window.location.href='/manage/getAllSport'">查看所有运动信息</button>
<button onclick="window.location.href='/manage/getAllFood'">查看所有食物信息</button>
</body>
</html>